body {
  font-size: 16px;
  color: #fff;
  background-color: #557c3e;
  font-family: 'Oxygen', sans-serif;
  height:1000px;
}


#header-nav {
  background-color: #f6b319;
  border-radius: 0;
  border: 0;
}


.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { 
  font-family: 'Lora', serif;
  color: #557c3e;
  font-size: 33px;
  text-transform: uppercase;
  font-weight: bold;
 
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
  text-align: left;
}


}
.contianer{
	width: 100%;
	padding-top: 30px;
}
 h2 { 

  text-align: center;
}

section{
	background-color:purple;
	height: 1000px;
	width: 75%;
}

li{ 
 color: grey;
 text-align: center;
 margin-bottom: 1px;
 background-color: yellow;
}
 
  
