body {
  font-size: 16px;
  color:#aaa;
  background-color: #557c3e;
  font-family: 'Oxygen', sans-serif;
  height:1000px;
}


#header-nav {
  background-color: #0B0B61;
  border-radius: 0;
  border: 0;
}


.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { 
  font-family: 'Lora', serif;
  color: #D8D9E6;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
 text-shadow: 4px 4px 5px white;
  margin-top: 25px;
  margin-bottom: 0;
  line-height: .5
  text-align: left;
  opacity:0.4;
  padding:5px;
}


}
.contianer{
	width: 1000px;
	padding-top:0;
}
 h2 { 

  text-align: center;
}

section{
	background-color:black;
        color:white;
	height:
	width:1000%;
}

li{ 
 color: grey;
 text-align: left;
 margin-bottom: 1px;
 background-color: white;
}
 
  
