body {
  font-size: 16px;
  color: aaa;
  background-color: #557c3e;
  font-family: 'Oxygen', sans-serif;
  height:1000px;
}


#header-nav {
  background-color: #0B0B61;
  border-radius: 0;
  border: 0;
}


.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { 
  font-family: 'Lora', serif;
  color: #1A2066;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
 text-shadow: 4px 4px 5px white;
  margin-top: -5px;
  margin-bottom: 0;
  line-height: .5
  text-align: left;
  opacity:0.4;
}


}
.contianer{
	width: 100%;
	padding-top: 20;
}
 h2 { 

  text-align: center;
}

section{
	background-color:purple;
	height: 1000px;
	width: 75%;
}

li{ 
 color: grey;
 text-align: center;
 margin-bottom: 1px;
 background-color: yellow;
}
 
  
